/* Geral */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(180deg, rgba(89, 76, 238, 1) 0%, #8dd0f5 100%); 
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

header {
  justify-content: space-around;  
  text-align: center;
}



.logo{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
  width: fit-content;
  padding: .3rem;
  margin: 0 auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  margin: 1rem 5rem;
}

.hide {
  display: none !important;
}

.container {
  background-color: #5c54ed;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  color: #fdfdfd;
  border-radius: 1rem;
  max-width: 400px;
}

/* Form */
.form h3 {
  margin-bottom: 1rem;
}

.form-input-container {
  display: flex;
}

.searchinp {
  padding: 0.8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}

.searchbtn {
  padding: 0.8rem;
  min-width: 50px;
  margin-left: 8px;
  background-color: #8dd0f5;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Clima */
#weather-data {
  background-color: rgba(0, 0, 0, 0.4);
  width: 30vw;
  margin: 0 auto;
  color: white;
}

#weather-data,
#error-message,
#loader,
#suggestions {
  padding-top: .5rem;
  text-align: center;
}

#weather-data h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
  color: white;
}

#weather-data h2 i {
  font-size: 1rem;
  color: white;
}

#weather-data span {
  margin: 0.6rem;
  color: white;
}

#temperature {
  font-size: 4rem;
  color: white;
}

#country {
  height: 15px;
  color: white;
}

#description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0;
}

#description {
  text-transform: capitalize;
  font-weight: bold;
}

#details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-container #umidity {
  border-right: 1px solid #fff;
  margin: 0.6rem;
  padding: 0.6rem;
}

/* Loader */
#loader i {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}



#daily {  
  color: white;  
  width: 95%;  
  margin: .5rem auto;  
  border-radius: 5px;
  padding-bottom: 1rem;
}

#daily h2{
  background-color: rgba(0, 0, 0, 0.7);
  width: 47.5%;
}

.hour5title{    
  display: flex;
  justify-content: space-evenly; 
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 0;    
  text-align: center;
}

.div5hour{
  width: 15%;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
}

#daily div p {
  margin-top: 1rem;
}

#hour {  
  color: white;  
  width: 95%;
  margin: 1rem auto;
  padding: 0 1rem;
}

#hour h2{
  background-color: rgba(0, 0, 0, 0.7);
  width: 47.5%;
}

#hour div {
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

#hour div p {
  margin-top: 1rem;
}

.hour3title{
  display: flex;  
  justify-content: space-evenly;
  margin: 0 auto;
}

.hour3title div{
  text-align: center;
  width: 20%;  
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 .2rem; 
}

@media screen and (max-width: 768px) {
  .nav{
    display: block;
    margin: 1rem auto;
  }   

  .form{
    margin: 0 auto;
  }

  .favorites{
    width: 100%;
  }

  .favorites select{
    width: 70%;
  }

  .favorites button{
    width: 20%;
  }

  .hour5title{
    width: 90%;
    margin: 0 auto;;
    flex-wrap: wrap;
  }

  .div5hour{
    width: 40%;
    margin-bottom: 1rem;
  }

  .hour3title{
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .hour3title div{
    width: 40%;
    margin-bottom: 1rem;
  }

.logo{
  width: fit-content;
  margin: 1rem auto;
}

#weather-data{
  width: 90%;
  margin: 0 auto;
}

  #daily h2{
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  #hour h2{
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}