.custom-container {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0 auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

.loading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}