.custom-container {
    padding-right: 0.9375em !important;
    padding-left: 0.9375em !important;
    margin: 0 auto;

    @media (min-width: 576px) {
        max-width: 33.75em;
    }

    @media (min-width: 768px) {
        max-width: 45em;
    }

    @media (min-width: 992px) {
        max-width: 60em;
    }

    @media (min-width: 1200px) {
        max-width: 75em;
    }

    @media (min-width: 1400px) {
        max-width: 82.5em;
    }
}

.loading {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
}