.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25em;
    padding: 1.25em 0;

    @media (min-width: 768px) {
        justify-content: space-between;
    }

    &__input {
        border: 0;
        background-color: $secondary-color;
        font-size: 1.25em;
        height: 2.5em;
        padding: 0.625em;
        border-radius: $border-radius;
        color: $text-color;
        width: 100%;

        @media (min-width: 992px) {
            max-width: 20em;
        }
    }
}