.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;

    @media (min-width: 768px) {
        justify-content: space-between;
    }

    &__input {
        border: 0;
        background-color: $secondary-color;
        font-size: 1.25em;
        height: 40px;
        padding: 10px;
        border-radius: $border-radius;
        color: $text-color;
        width: 100%;

        @media (min-width: 768px) {
            max-width: 320px;
        }
    }
}